<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1" />
    <title>
        Scale App |  @ViewBag.PageTitle
    </title>
    <meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
    <!--[if lt IE 9]>
    <script src="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/_Content/Scale/js/ie/html5shiv.js"></script>
    <script src="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/_Content/Scale/js/ie/respond.min.js"></script>
    <script src="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/_Content/Scale/js/ie/excanvas.js"></script>
    <![endif]-->

    @Styles.Render("~/bundles/scale/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/scale/js")
</head>
    <body>
        <header class="bg-white header header-md navbar navbar-fixed-top-xs box-shadow">
            <div class="navbar-header aside-md dk">
                <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen" data-target="#nav">
                    <i class="fa fa-bars"></i>
                </a>
                <a href="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/scale" class="navbar-brand"><img src="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/_content/scale/images/logo.png" class="m-r-sm">Scale</a>
                <a class="btn btn-link visible-xs" data-toggle="dropdown" data-target=".user">
                    <i class="fa fa-cog"></i>
                </a>
            </div>
            <ul class="nav navbar-nav hidden-xs">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="i i-grid"></i>
                    </a>
                    <section class="dropdown-menu aside-lg bg-white on animated fadeInLeft">
                        <div class="row m-l-none m-r-none m-t m-b text-center">
                            <div class="col-xs-4">
                                <div class="padder-v">
                                    <a href="#">
                                        <span class="m-b-xs block">
                                            <i class="i i-mail i-2x text-primary-lt"></i>
                                        </span>
                                        <small class="text-muted">Mailbox</small>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="padder-v">
                                    <a href="#">
                                        <span class="m-b-xs block">
                                            <i class="i i-calendar i-2x text-danger-lt"></i>
                                        </span>
                                        <small class="text-muted">Calendar</small>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="padder-v">
                                    <a href="#">
                                        <span class="m-b-xs block">
                                            <i class="i i-map i-2x text-success-lt"></i>
                                        </span>
                                        <small class="text-muted">Map</small>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="padder-v">
                                    <a href="#">
                                        <span class="m-b-xs block">
                                            <i class="i i-paperplane i-2x text-info-lt"></i>
                                        </span>
                                        <small class="text-muted">Trainning</small>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="padder-v">
                                    <a href="#">
                                        <span class="m-b-xs block">
                                            <i class="i i-images i-2x text-muted"></i>
                                        </span>
                                        <small class="text-muted">Photos</small>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="padder-v">
                                    <a href="#">
                                        <span class="m-b-xs block">
                                            <i class="i i-clock i-2x text-warning-lter"></i>
                                        </span>
                                        <small class="text-muted">Timeline</small>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>

            </ul>

            <form class="navbar-form navbar-left input-s-lg m-t m-l-n-xs hidden-xs" role="search">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-sm bg-white b-white btn-icon"><i class="fa fa-search"></i></button>
                        </span>
                        <input type="text" class="form-control input-sm no-border" placeholder="Search apps, projects...">
                    </div>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right m-n hidden-xs nav-user user">
                <li class="hidden-xs">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="i i-chat3"></i>
                        <span class="badge badge-sm up bg-danger count">2</span>
                    </a>
                    <section class="dropdown-menu aside-xl animated flipInY">
                        <section class="panel bg-white">
                            <header class="panel-heading b-light bg-light">
                                <strong>You have <span class="count">2</span> notifications</strong>
                            </header>
                            <div class="list-group list-group-alt">
                                <a href="#" class="media list-group-item">
                                    <span class="pull-left thumb-sm">
                                        <img src="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/_content/scale/images/a0.png" alt="John said" class="img-circle">
                                    </span>
                                    <span class="media-body block m-b-none">
                                        Use awesome animate.css<br>
                                        <small class="text-muted">10 minutes ago</small>
                                    </span>
                                </a>
                                <a href="#" class="media list-group-item">
                                    <span class="media-body block m-b-none">
                                        1.0 initial released<br>
                                        <small class="text-muted">1 hour ago</small>
                                    </span>
                                </a>
                            </div>
                            <footer class="panel-footer text-sm">
                                <a href="#" class="pull-right"><i class="fa fa-cog"></i></a>
                                <a href="#notes" data-toggle="class:show animated fadeInRight">See all the notifications</a>
                            </footer>
                        </section>
                    </section>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="thumb-sm avatar pull-left">
                            <img src="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/_content/scale/images/a0.png">
                        </span>
                        John.Smith <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight">
                        <span class="arrow top"></span>
                        <li>
                            <a href="#">Settings</a>
                        </li>
                        <li>
                            <a href="profile.html">Profile</a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="badge bg-danger pull-right">3</span>
                                Notifications
                            </a>
                        </li>
                        <li>
                            <a href="docs.html">Help</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="modal.lockme.html" data-toggle="ajaxModal">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </header>
        <section class="hbox stretch">
            <!-- .aside -->
            @Html.Partial("~/areas/scale/views/shared/partials/leftarea.cshtml")
            <!-- /.aside -->
            <section id="content">
                <section class="hbox stretch">
                    <section class="vbox scrollable padder">
                        <!-- .breadcrumb -->
                        <ul class="breadcrumb">
                            <li><a href="/scale"><i class="fa fa-home"></i> Home</a></li>
                            <li><a href="#"><i class="fa fa-list-ul"></i> Elements</a></li>
                            <li class="active">Components</li>
                        </ul>
                        <!-- / .breadcrumb -->
                        <section class="row m-b-md">
                            <div class="col-sm-6">
                                <h3 class="m-b-xs text-black">
                                    @ViewBag.ContentTitle
                                </h3>
                                <small>
                                    @ViewBag.ContentTitleDesc
                                </small>
                            </div>
                        </section>
                        @RenderBody()
                    </section>
                    <!-- side content -->
                    <aside class="aside-md bg-black hide" id="sidebar">
                        <section class="vbox animated fadeInRight">
                            <section class="scrollable">
                                <div class="wrapper"><strong>Live feed</strong></div>
                                <ul class="list-group no-bg no-borders auto">
                                    <li class="list-group-item">
                                        <span class="fa-stack pull-left m-r-sm">
                                            <i class="fa fa-circle fa-stack-2x text-success"></i>
                                            <i class="fa fa-reply fa-stack-1x text-white"></i>
                                        </span>
                                        <span class="clear">
                                            <a href="#">Goody@gmail.com</a> sent your email
                                            <small class="icon-muted">13 minutes ago</small>
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="fa-stack pull-left m-r-sm">
                                            <i class="fa fa-circle fa-stack-2x text-danger"></i>
                                            <i class="fa fa-file-o fa-stack-1x text-white"></i>
                                        </span>
                                        <span class="clear">
                                            <a href="#">Mide@live.com</a> invite you to join a meeting
                                            <small class="icon-muted">20 minutes ago</small>
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="fa-stack pull-left m-r-sm">
                                            <i class="fa fa-circle fa-stack-2x text-info"></i>
                                            <i class="fa fa-map-marker fa-stack-1x text-white"></i>
                                        </span>
                                        <span class="clear">
                                            <a href="#">Geoge@yahoo.com</a> is online
                                            <small class="icon-muted">1 hour ago</small>
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="fa-stack pull-left m-r-sm">
                                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                            <i class="fa fa-info fa-stack-1x text-white"></i>
                                        </span>
                                        <span class="clear">
                                            <a href="#"><strong>Admin</strong></a> post a info
                                            <small class="icon-muted">1 day ago</small>
                                        </span>
                                    </li>
                                </ul>
                                <div class="wrapper"><strong>Friends</strong></div>
                                <ul class="list-group no-bg no-borders auto">
                                    <li class="list-group-item">
                                        <div class="media">
                                            <span class="pull-left thumb-sm avatar">
                                                <img src="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/_content/scale/images/a3.png" alt="John said" class="img-circle">
                                                <i class="on b-black bottom"></i>
                                            </span>
                                            <div class="media-body">
                                                <div><a href="#">Chris Fox</a></div>
                                                <small class="text-muted">about 2 minutes ago</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="media">
                                            <span class="pull-left thumb-sm avatar">
                                                <img src="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/_content/scale/images/a2.png" alt="John said">
                                                <i class="on b-black bottom"></i>
                                            </span>
                                            <div class="media-body">
                                                <div><a href="#">Amanda Conlan</a></div>
                                                <small class="text-muted">about 2 hours ago</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="media">
                                            <span class="pull-left thumb-sm avatar">
                                                <img src="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/_content/scale/images/a1.png" alt="John said">
                                                <i class="busy b-black bottom"></i>
                                            </span>
                                            <div class="media-body">
                                                <div><a href="#">Dan Doorack</a></div>
                                                <small class="text-muted">3 days ago</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="media">
                                            <span class="pull-left thumb-sm avatar">
                                                <img src="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/_content/scale/images/a0.png" alt="John said">
                                                <i class="away b-black bottom"></i>
                                            </span>
                                            <div class="media-body">
                                                <div><a href="#">Lauren Taylor</a></div>
                                                <small class="text-muted">about 2 minutes ago</small>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </section>
                        </section>
                    </aside>
                    <!-- / side content -->
                </section>
                <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
            </section>
        </section>

    </body>
@RenderSection("scripts", required: false)
</html>