@using HUC.Web.Models
@model IEnumerable<HUC.Web.App.Testimonials.TestimonialModel>

@{
    ViewBag.PageData = new PageDataModel
    {
        Title = "Testimonials",
        ContentTitle = "Testimonials",
        ContentTitleDesc = "Here is a list of all the testimonials.",
        ActivePage = "testimonials",
        Breadcrumb = new List<BreadcrumbItem>
        {
            new BreadcrumbItem("Testimonials", null, "fa-thumbs-up")
        }
    };
}

<p>
    <a href="@Url.Action("Create")" class="btn btn-s-md btn-primary"><i class="fa fa-pencil"></i> Create New</a>
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BodyCopy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobTitle)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BodyCopy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                <a href="@Url.Action("Edit", new { id = item.ID })" class="btn btn-xs btn-rounded btn-warning"><i class="fa fa-pencil"></i> Edit</a>
                <a href="@Url.Action("Delete", new { id = item.ID })" class="btn btn-xs btn-rounded btn-danger"><i class="fa fa-times"></i> Delete</a>

                <a href="@Url.Action("MoveUp", new { id = item.ID })" class="btn btn-xs btn-rounded btn-dark @if (item.ID == Model.First().ID){<text>disabled</text>}"><i class="fa fa-arrow-up"></i> Move Up</a>
                <a href="@Url.Action("MoveDown", new { id = item.ID })" class="btn btn-xs btn-rounded btn-dark @if (item.ID == Model.Last().ID){<text>disabled</text>}"><i class="fa fa-arrow-down"></i> Move Down</a>
            </td>
        </tr>
    }

</table>
