@using HUC.Web.App.Resources.Questions.Answers
@using HUC.Web.App.Users.Courses
@using HUC.Web.Models
@model HUC.Web.App.Courses.CourseModel
@{
    Layout = "~/Views/Shared/_PreviewLayout.cshtml";
}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Signika:100,200,300,400,500,600,700,800,900" media="all">
<link rel="stylesheet" type="text/css" href="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/_Content/css/Preview/CompanyPreview.css" />
@if (Model.BackGroundType == false && !string.IsNullOrEmpty(Model.Background))
{
    <style>
        .full-page {
            background-image: url(@HttpContext.Current.Request.ApplicationPath/_Media/Uploads/@Model.Background) !important;
        }
    </style>
}
else if (Model.BackGroundType == true && !string.IsNullOrEmpty(Model.Background))
{
    <style>
        .full-page {
          background:@Model.Background !important;
        }
    </style>
}

<div class="desktop-ver">
    <div class="row">
        <div class="col-md-12">
            <div class="course-header">
                @if (Model.BackGroundType == true && !string.IsNullOrEmpty(Model.Background))
                {
                    if (Model.Name.Length > 25)
                    {
                        if (Model.Name.Length > 41)
                        {
                            <div style="font-size:33px !important;">@Model.Name</div>
                        }
                        else
                        {
                            <div style="font-size:33px !important;">@Model.Name</div>
                        }

                    }
                    else
                    {
                        <div>@Model.Name</div>
                    }
                }
                else
                {
                    <p style="margin-top:220px"></p>

                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 align-top-content1" >
       <a class="btn btn-success  pull-left btn-blue-color-userclose" style="width:100px"  href="" onclick="Back();">
            <i  class="fa fa-arrow-left"></i> Back
        </a>
		 <a class="btn btn-success  pull-left btn-blue-color-userclose" style="width:135px"   href="javascript:window.open('','_self').close();">
             Dashboard
        </a>
    </div>
</div>

<div class="mobile-ver middle-btn">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12">
            <a class="btn btn-success pull-right" href="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/Admin/Dashboard">
                Back to Dashboard<i style="margin-left: 10px;" class="fa fa-arrow-right"></i>
            </a>
        </div>
    </div>
</div>
<div class="course-overview col-md-12 course-overview-top-about" >
    <div class="col-md-12 main-panel no-padding">
        <div class="panel panel-default" style="box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 ev-article">
                        <h4>About this course</h4>
                        @if (!String.IsNullOrWhiteSpace(Model.IntroCopy))
                        {
                            <p>
                                @Html.Raw(Model.IntroCopy)
                            </p>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="row" @*style="margin-left:0px;margin-right:0px;"*@>
            <div class="col-md-12" @*module-tile*@ style="padding: 20px 14px 20px 14px; font-size: 15px;">
                <div class="row footer-tile" style="width:103%;">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-2 footer-current-page">
                        <div class="coursecounter">
                           @* <span>1</span> of <span>@(Model.Resources.Count()+2)</span>*@
                        </div>
                    </div>
                    <div class="col-md-5" style="text-align:right !important;">
                        @if (Model.Resources.OrderBy(x => x.Sort).FirstOrDefault() != null)
                        {
						
                            <a class="btn btn-success  pull-left btn-blue-color-close" href="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/Admin/Courses/ModuleDetail/@Model.Resources.OrderBy(x => x.Sort).FirstOrDefault().ID" style="color: #fff !important; width:50%;height:38px;margin-left: 50%;">Next Module  <i class="fa fa-arrow-right" style="color:#fff !important"></i></a>
							                   
                        }
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#logoid").hide();
    $(".bg-white").hide();
    function closetab() {
        window.close();
    }
	function Back(){
	window.history.back();
  }
</script>