@using HUC.Web.App.Shared
@using HUC.Web.Controllers
@using HUC.Web.Models
@{
    var pageData = (PageDataModel)ViewBag.PageData;
    if (pageData == null)
    {
        pageData = new PageDataModel();
    }

    var user = Html.User();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1" />
    <title>
        Training Courses | @(String.IsNullOrWhiteSpace(pageData.Title) ? "" : "| " + pageData.Title)
    </title>
    @if (ViewBag.OtherApplication == "1")
    {
        <link rel="shortcut icon" href="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/_Content/images/K6/favicon.ico" type="image/x-icon" />
    }
    else
    {
        <link rel="shortcut icon" href="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/_Content/images/favicon.ico" type="image/x-icon" />
    }
    <meta name="description" content="@pageData.ContentTitleDesc" />
    <!--[if lt IE 9]>
        <script src="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/_Content/Scale/js/ie/html5shiv.js"></script>
        <script src="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/_Content/Scale/js/ie/respond.min.js"></script>
        <script src="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/_Content/Scale/js/ie/excanvas.js"></script>
    <![endif]-->
    <!--[if lte IE 8]>
        <link rel="stylesheet" type="text/css" href="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/_Content/Scale/css/ie8.css" />
    <![endif]-->
    @if (ViewBag.OtherApplication == "1")
    {
        @Styles.Render("~/bundles/scale/k6css")

    }
    else
    {
        @Styles.Render("~/bundles/scale/css")
    }
    @Styles.Render("~/bundles/company/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    <style>


        .full-page {
           /* background: linear-gradient( to bottom, #8CC63E 0%, #8CC63E 330px, #e8eaef 0%, #e8eaef 100%);
*/            background: #e8eaef

        }

      
    </style>
</head>
<body>
    <section class="hbox stretch full-page">
        <section id="content">
            <section class="hbox stretch">
                <section class="vbox scrollable padder" >
                    @RenderBody()
                </section>
            </section>
            <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
        </section>
    </section>
    @Scripts.Render("~/bundles/scale/js")
    @Scripts.Render("~/bundles/company/js")
    @RenderSection("scripts", required: false)
</body>
</html>


