@using HUC.Web.Models
@model HUC.Web.App.Companies.Users.CompanyUserAddModel

@{
    ViewBag.PageData = new PageDataModel
    {
        Title = "Create a new user",
        ContentTitle = "Create a new user",
        ContentTitleDesc = "Here you may create a new user in your company.",
        ActivePage = "users",
        Breadcrumb = new List<BreadcrumbItem>
        {
            new BreadcrumbItem("Companies", Url.Action("Index", "Companies"), "fa-building-o"),
            new BreadcrumbItem("Users", Url.Action("Index", new { id = Model.CompanyID })),
            new BreadcrumbItem("Create")
        }
    };
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.CompanyID)

    <div class="form-horizontal edit-create-form">
        @Html.ValidationSummary(true)

        <div class="form-group">
            <label>Email</label>
            <div class="input-field">
                @Html.EditorFor(model => model.UserAdd.Email)
                @Html.ValidationMessageFor(model => model.UserAdd.Email)
            </div>
        </div>

        <div class="form-group">
            <label>First name</label>
            <div class="input-field">
                @Html.EditorFor(model => model.UserAdd.FirstName)
                @Html.ValidationMessageFor(model => model.UserAdd.FirstName)
            </div>
        </div>

        <div class="form-group">
            <label>Last name</label>
            <div class="input-field">
                @Html.EditorFor(model => model.UserAdd.LastName)
                @Html.ValidationMessageFor(model => model.UserAdd.LastName)
            </div>
        </div>

        <div class="form-group">
            <label>Password</label>
            <div class="input-field">
                @Html.EditorFor(model => model.UserAdd.Password)
                @Html.ValidationMessageFor(model => model.UserAdd.Password)
            </div>
        </div>

        <div class="form-group">
            <label>Confirm password</label>
            <div class="input-field">
                @Html.EditorFor(model => model.UserAdd.ConfirmPassword)
                @Html.ValidationMessageFor(model => model.UserAdd.ConfirmPassword)
            </div>
        </div>

        <div class="form-group edit-create-buttons">
            <div class="action-button">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
            <div class="back-button btn btn-warning">
                @Html.ActionLink("Back to List", "Index", new { id = Model.CompanyID })
            </div>
        </div>
    </div>
}
