@using HUC.Web.App.Resources.Questions.Answers
@using HUC.Web.App.Users.Courses
@using HUC.Web.Models
@model HUC.Web.App.Courses.CourseModel
@{
    Layout = "~/Views/Shared/_PreviewLayout.cshtml";
}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Signika:100,200,300,400,500,600,700,800,900" media="all">
<link rel="stylesheet" type="text/css" href="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/_Content/css/Preview/CompanyPreview.css" />

<link href="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/_Content/css/assessment.css" rel="stylesheet" />
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/_Content/chart/dist/Chart.js"></script>
<script src="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/_Content/js/assessment.js"></script>
<style>
    textarea {
        margin: 0;
        padding: 0;
        border: 0;
        width: 100%;
        /*  height: 300px;*/
        display: block;
        resize: none; /*Add this if you dont want users to resize */
        color: black !important;
        border: 2px solid #72bbb8 !important;
        border-radius: 6px;
    }
</style>

<link rel="stylesheet" type="text/css" href="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/_Content/css/Preview/CompanyPreview.css" />
<input type="hidden" id="hdnCourseId" value="@Model.ID" />
<input type="hidden" id="hdnApplicatonPath" value="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)" />
@if (Model.BackGroundType == false && !string.IsNullOrEmpty(Model.Background))
{
    <style>
        .full-page {
            background-image: url(@HttpContext.Current.Request.ApplicationPath/_Media/Uploads/@Model.Background) !important;
        }
    </style>
}
else if (Model.BackGroundType == true && !string.IsNullOrEmpty(Model.Background))
{
    <style>
        .full-page {
          background:@Model.Background !important;
        }
    </style>
}

<div class="desktop-ver">
    <div class="row">
        <div class="col-md-12">
            <div class="course-header">
                @if (Model.Name.Length > 25)
                {
                    <div style="font-size:33px !important;">@Model.Name</div>
                }
                else
                {
                    <div>@Model.Name</div>
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 align-top-content1">
		<a class="btn btn-success  pull-left btn-blue-color-userclose" style="margin-left:16px; width:100px" href="#" onclick="Back();">
            <i  class="fa fa-arrow-left"></i> Back
        </a>
		 <a class="btn btn-success  pull-left btn-blue-color-userclose" style="width:135px"  href="javascript:window.open('','_self').close();">
             Dashboard
        </a>
    </div>
</div>


<div class="mobile-ver middle-btn">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12">
            <a class="btn btn-success pull-right" href="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/Company/Dashboard">
                Back to Dashboard<i style="margin-left: 10px;" class="fa fa-arrow-right"></i>
            </a>
        </div>
    </div>
</div>
<div class="course-overview course-overview-top-asses">
    <div class="col-md-12 main-panel no-padding">
        <div class="panel" style="box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 ev-article">
                        <h4>Conclusion</h4>

                        @if (!String.IsNullOrWhiteSpace(Model.OutroCopy))
                        {
                            <p>
                                @Html.Raw(Model.OutroCopy)
                            </p>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default" style="box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 ev-article">
                        <h4>Course Feedback</h4>
                        @*@if (!String.IsNullOrWhiteSpace(Model.Course.IntroCopy))
                        {
                            <p style="font-size:15px;">
                                @Html.Raw(Model.Course.IntroCopy)
                            </p>
                        }*@
                        <div class="assessment-module" id="module-1">
                            <div class="row">
                                <div class="col-md-12" style="">
                                    <div class="form-group">

                                        <textarea id="txtareaFeed" maxlength="500" rows="5" cols="40"></textarea>

                                    </div>
                                </div>
                            </div>



                            <div class="row">
                                <div class="col-md-12" style="">
                                    <div class="form-group">

                                        <input type="button" onclick="FeedBackEmail()" value="Submit" class="btn btn-dark" disabled />

                                    </div>
                                </div>
                            </div>


                        </div>
                        <p id="thx" style="font-size:15px;">

                        </p>

                    </div>
                </div>
            </div>
        </div>

        <div class="row" @*style="margin-left:0px;margin-right:0px;"*@>
            <div class="col-md-12" @*module-tile*@ style="padding: 20px 14px 20px 14px; font-size: 15px;">
                <div class="row footer-tile" style="width:102%;">
                    <div class="col-md-5" style="text-align:left !important;">
                        @if (Model.Resources.OrderBy(x => x.Sort).LastOrDefault() != null)
                        {
                            <a class="btn btn-success  pull-left btn-blue-color-close" href="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/Company/Courses/ModuleDetail/@Model.Resources.OrderBy(x => x.Sort).LastOrDefault().ID" style="color:#fff !important;width:50%;height:38px;"><i class="fa fa-arrow-left" style="color:#fff !important"></i>  Previous Module</a>
                        }
                    </div>
                    <div class="col-md-2 footer-current-page">
                        <div class="coursecounter">
                            @* <span>@(Model.Resources.Count() + 2)</span> of <span>@(Model.Resources.Count() + 2)</span>*@
                        </div>
                    </div>

                    <div class="col-md-5" style="text-align:right;">
                        <a class="btn btn-default pull-right" style="color:white !important;background-color:#000;height:38px;width:50%;" href="javascript:window.open('','_self').close();">
                            Finish
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#logoid").hide();
    $(".bg-white").hide();
	function Back(){
	window.history.back();
  }
</script>