@using HUC.Web.Models
@model HUC.Web.App.Courses.CourseModel
@{
    ViewBag.PageData = new PageDataModel
    {
        Title = "Modules",
        ContentTitle = Model.Name+ " > " + "Modules",
        ContentTitleDesc = "",
        ActivePage = "courses",
        Breadcrumb = new List<BreadcrumbItem>
{
            new BreadcrumbItem("Courses", Url.Action("Index", "Courses"), "fa-briefcase"),
            new BreadcrumbItem(Model.Name),
            new BreadcrumbItem("Modules", null, "fa-files-o")
        }
    };
    int num = 0;
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {           
            $('#sortable').dataTable({
                "bProcessing": true,
                "sDom": "<'row'<'col-sm-6'l><'col-sm-6'f>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
                "sPaginationType": "full_numbers",
                "aoColumns": [null, null, { "bSortable": false }],
                "iDisplayLength": 10
            });
            $(".dataTables_empty").attr('colspan', 5);
        });
       
    </script>
    <link href="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/_Content/Scale/js/datatables/datatables.css" rel="stylesheet" />
}
@if (!Model.IsPublished)
{
    <div class="desktop-ver">
        <div class="row">
            <div class="col-md-12 align-top-content">
                <a href="@Url.Action("Create", new { courseID = Model.ID })" class="btn btn-success pull-right"><i class="fa fa-pencil"></i> Create New Module</a>
                <a class="btn btn-success pull-right m-r-md" href="@Url.Action("Index", "Courses")">
                    <i style="margin-left: 10px;" class="fa fa-arrow-left"></i> Back
                </a>
            </div>
        </div>
    </div>

    <div class="mobile-ver middle-btn">
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-md-12">
                <a href="@Url.Action("Create", new { courseID = Model.ID })" class="btn btn-success pull-right"><i class="fa fa-pencil"></i> Create New Module</a>
                <a class="btn btn-success pull-right m-r-md" href="javascript:history.back()">
                    <i style="margin-left: 10px;" class="fa fa-arrow-left"></i> Back
                </a>
            </div>
        </div>
    </div>
    <p class="hidden">
        <a href="@Url.Action("Create", new { courseID = Model.ID })" class="btn btn-s-md btn-primary"><i class="fa fa-pencil"></i> Create New</a>
    </p>
}
@if (Model.IsPublished)
{
    <div class="desktop-ver">
        <div class="row">
            <div class="col-md-12 align-top-content">
                <a class="btn btn-success pull-right" href="/TrainingCourses/Admin/Courses">
                    <i style="margin-left: 10px;" class="fa fa-arrow-left"></i> Back
                </a>
            </div>
        </div>
    </div>

    <div class="mobile-ver middle-btn">
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-md-12">
                <a class="btn btn-success pull-right" href="/TrainingCourses/Admin/Courses#">
                    <i style="margin-left: 10px;" class="fa fa-arrow-left"></i> Back
                </a>
            </div>
        </div>
    </div>
}
<section class="panel panel-default">
    <div class="table-responsive">
        <table id="sortable" class="table table-striped m-b-none">
            <thead>
                <tr>
                    <th style="width:145px;">Module Number</th>
                    <th>Module Name</th>
                    <th style="text-align:center;width:130px;">Chapters</th>
                    <th style="text-align:center;width:100px;">Assessments</th>
                    @if (!Model.IsPublished)
                    {
                        <th style="text-align:center;width:175px;">Action</th>
                    }

                </tr>
            </thead>
            <tbody>
               @if (Model.Resources.Count() > 0)
               {


                   foreach (var Resource in Model.Resources.OrderBy(x => x.Sort))
                   {
                       num++;
                    <tr>
                        <td style="vertical-align:middle">
                           @num @*@Resource.Sort*@
                        </td>
                        <td style="vertical-align:middle">
                            @Resource.Name
                        </td>
                        <td class="text-center" >
                            <a href="@Url.Action("View", new { id = Resource.ID })"><i class="fa fa-files-o"></i></a>
                        </td>
                        <td class="text-center">
                            <a href="@Url.Action("Test", new { id = Resource.ID })"><i class="fa fa-file-text"></i></a>
                            @*<a href="@Url.Action("Test", new { id = Resource.ID })" class="btn btn-xs btn-rounded btn-primary"><i class="fa fa-file-text"></i> View Test</a>*@
                        </td>
                        @if (!Model.IsPublished)
                        {
                    <td style="text-align:center;">
                        <a data-toggle="tooltip" title="Preview" href="#" onclick="OpenTab(@Resource.ID)"><i class="fa fa-eye resource-icon" style="color:green"></i></a>&nbsp;&nbsp;
                        <a data-toggle="tooltip" title="Edit" href="@Url.Action("Edit", new { id = Resource.ID })"><i class="fa fa-pencil edit-icon"></i></a>&nbsp;&nbsp;
                        <a data-toggle="tooltip" title="Delete" href="@Url.Action("Delete", new { id = Resource.ID })"><i class="fa fa-times delete-icon"></i></a>&nbsp;&nbsp;

                        @if (Resource.Sort > 1)
                        {
                            <a data-toggle="tooltip" title="Move Up" href="@Url.Action("MoveUp", new { id = Resource.ID })"><i class="fa fa-chevron-circle-up"></i></a>
                        }
                        else
                        {
                            <a href="#"><i class="fa fa-chevron-circle-up" style="opacity:0.25;cursor:default"></i></a>
                        }
                        &nbsp;&nbsp;
                        @if (Resource.Sort < Model.Resources.Count())
                        {
                            <a data-toggle="tooltip" title="Move Down" href="@Url.Action("MoveDown", new { id = Resource.ID })"><i class="fa fa-chevron-circle-down"></i></a>
                        }
                        else
                        {
                            <a href="#"><i class="fa fa-chevron-circle-down" style="opacity:0.25;cursor:default"></i></a>
                        }

                    </td>
                        }
                    </tr>
                   }
               }
               else
               {
                   <tr><td class="hidden">1</td><td></td><td>No Data To Display</td><td></td><td></td><td></td></tr>
               }
            </tbody>
        </table>
    </div>
</section>
<script>
    function OpenTab(PreviewId) {
        var URLLink = "/TrainingCourses/Admin/Resources/Preview/" + PreviewId;
        window.open(URLLink, "_blank");
    }
</script>