@using HUC.Web.App.Shared
@using HUC.Web.Controllers
@using HUC.Web.Models
@{
    var pageData = (PageDataModel)ViewBag.PageData;
    if (pageData == null)
    {
        pageData = new PageDataModel();
    }

    var user = Html.User();
    var userslist = user.Company.AllUsers.ToList();
    var getuser = userslist.Where(x => x.UserID == user.ID && x.IsAdmin == false && x.IsBackupAdmin == true);
    var courseUser = user.Company.AllUsers.FirstOrDefault();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1" />
    <title>
        Training Courses | Company @(String.IsNullOrWhiteSpace(pageData.Title) ? "" : "| " + pageData.Title)
    </title>
    @if (ViewBag.OtherApplication == "1")
    {
        <link rel="shortcut icon" href="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/_Content/images/K6/favicon.ico" type="image/x-icon" />
    }
    else
    {
        <link rel="shortcut icon" href="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/_Content/images/favicon.ico" type="image/x-icon" />
    }
    <meta name="description" content="@pageData.ContentTitleDesc" />
    <!--[if lt IE 9]>
        <script src="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/_Content/Scale/js/ie/html5shiv.js"></script>
        <script src="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/_Content/Scale/js/ie/respond.min.js"></script>
        <script src="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/_Content/Scale/js/ie/excanvas.js"></script>
    <![endif]-->
    <!--[if lte IE 8]>
        <link rel="stylesheet" type="text/css" href="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/_Content/Scale/css/ie8.css" />
    <![endif]-->
<link href="~/_Content/Scale/css/custom .css" rel="stylesheet" />
    @if (ViewBag.OtherApplication == "1")
    {
        @Styles.Render("~/bundles/scale/k6css")

    }
    else
    {
        @Styles.Render("~/bundles/scale/css")
    }
    @Styles.Render("~/bundles/company/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .Inactive-navbarbtn {
            font-weight: 600;
            color: #ffffff !important;
        }
        .full-page {
            background: linear-gradient( to bottom, #8CC63E 0%, #8CC63E 330px, #e8eaef 0%, #e8eaef 100%);
        }
        .bg-white {
            background-color: #8CC63E !important;
        }
    </style>
</head>
<body>
    <header class="bg-white header header-md navbar navbar-fixed-top-xs" >
        <div class="navbar-header aside-md dk">
            <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen" data-target="#nav">
                <i class="fa fa-bars"></i>
                
            </a>
            @if (ViewBag.OtherApplication == "1")
            {
                <a href="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/Company/dashboard/graphs" class="navbar-brand"><img src="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/_Content/images/k6/main-logo.png" class="m-r-sm"></a>
            }
            else
            {
                <a href="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/Company/dashboard/graphs" class="navbar-brand"><img src="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/_Content/images/Elephant-Logo-AW-Grey.png" class="m-r-sm" style="padding-left:15px"></a>

            }
            <a class="btn btn-link visible-xs" data-toggle="dropdown" data-target=".user">
                <i class="i i-user3"></i> @*  @user.FirstName @user.LastName*@
            </a>
        </div>
        @if (!pageData.StrippedLayout)
        {
            <p class="intro-text hidden-xs hidden">
                Welcome to Training Courses, @user.Company.Name
            </p>
            <p class="intro-text hidden-xs pull-right padder">
                <a href="@Url.Action("Logout", "Auth", new { area = ""})" class="pull-right logout-btn m-l-lg Inactive-navbarbtn">Close <img src="~/_Content/images/CloseIcon.png" style="margin-left: 2px;" /></a>
                <div class="seperator hidden-xs pull-right"></div>
            </p>

            <p class="intro-text hidden-xs pull-right padder hidden">
                <a href="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/Company" class="pull-right logout-btn m-l-lg Inactive-navbarbtn">Usage Reports</a>
                <div class="seperator hidden-xs pull-right hidden"></div>
            </p>

            <p class="intro-text hidden-xs pull-right padder hidden">
                <a href="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/Company/Usage" class="pull-right logout-btn m-l-lg Inactive-navbarbtn ">Usage Statistics</a>
                <div class="seperator hidden-xs pull-right hidden"></div>
            </p>
            <p class="intro-text hidden-xs pull-right padder button-deactive">
                <a href="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/Company/Settings" class="pull-right logout-btn m-l-lg Inactive-navbarbtn btn-5" style="color: #000000 !important;">Settings</a>
                <div class="seperator hidden-xs pull-right"></div>
            </p>
            <p class="intro-text hidden-xs pull-right padder button-deactive">
                <a href="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/Company/AssignCourse" class="pull-right logout-btn m-l-lg Inactive-navbarbtn btn-1" style="color: #000000 !important;">Assign Courses</a>
                <div class="seperator hidden-xs pull-right"></div>
            </p>




            <p class="intro-text hidden-xs pull-right padder button-deactive">
                <a href="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/Company/Users" class="pull-right logout-btn m-l-lg Inactive-navbarbtn btn-2" style="color: #000000 !important;">Users</a>
                <div class="seperator hidden-xs pull-right"></div>
            </p>
            if (Convert.ToBoolean(Session["CourseAllowAdmin"]) == true)
            {
                <p class="intro-text hidden-xs pull-right padder  ManageCourseLink">
                    <a href="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/Company/Courses" class="pull-right logout-btn m-l-lg Inactive-navbarbtn btn-3" style="color: #000000 !important;">Manage Courses</a>
                    <div class="seperator hidden-xs pull-right"></div>
                </p>
            }

            <p class="intro-text hidden-xs pull-right padder">
                <a href="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/Company/dashboard/graphs" class="pull-right logout-btn m-l-lg Inactive-navbarbtn btn-4" style="color: #000000 !important;">Dashboard</a>

            </p>
            <ul class="nav navbar-nav navbar-right m-n hidden-xs nav-user user hidden">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="i i-user3"></i>
                        @user.FirstName @user.LastName <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight">
                        <span class="arrow top"></span>
                        @if (courseUser.IsBackupAdmin && courseUser.IsBackupAdminCourseUsable)
                        {
                            <li>
                                <a href="@Url.Action("Index", "Dashboard", new { area = "Users"})">To User <i class="i i-newtab"></i></a>
                            </li>
                            <li class="divider"></li>

                        }
                        @if (user.RepresentableCompanies.Count() > 1)
                        {
                            foreach (var curCompany in user.RepresentableCompanies)
                            {
                                <li @if (user.RepresentingCompany.ID == curCompany.ID) { <text> class="active" </text> }>
                                    <a href="@Url.Action("ActiveCompany", "Auth", new { area = "", id = curCompany.ID })">@curCompany.Name</a>
                                </li>
                            }
                            <li class="divider"></li>
                        }
                        <li>
                            <a href="@Url.Action("Logout", "Auth", new { area = ""})">Logout <i class="i i-logout"></i></a>
                        </li>
                    </ul>
                </li>
            </ul>
        }
    </header>
    <section class="hbox stretch full-page">
        <!-- .aside -->
        @*@Html.Partial("~/Areas/Company/Views/Shared/Partials/LeftArea.cshtml")*@
        <!-- /.aside -->
        <section id="content">
            <section class="hbox stretch">
                <section class="vbox scrollable padder" style="padding-top:156px">
                    <!-- .breadcrumb -->
                    @*@Breadcrumb(pageData)*@
                    <!-- / .breadcrumb -->
                    @if (!String.IsNullOrWhiteSpace(pageData.ContentTitle))
                    {
                        if (pageData.ContentTitle != "Assign Courses")
                        {
                            int ttl = 6;
                            int ddc = 6;
                            if (!String.IsNullOrWhiteSpace(pageData.ContentTitleDesc))
                            {

                            }
                            else
                            {
                                ttl = 11;
                                ddc = 1;
                            }
                    <section class="row">
                        <div class="col-sm-10 col-md-@ttl">
                            <h3 class="m-b-xs text-black">
                                @pageData.ContentTitle
                            </h3>
                           
                        </div>
                        <div class="col-sm-10 col-md-@ddc">
                            
                            @if (!String.IsNullOrWhiteSpace(pageData.ContentTitleDesc))
                            {
                                <h3 class="content-desc adjust-desc" style="margin-top:36px !important">
                                    @pageData.ContentTitleDesc
                                </h3>
                            }
                            else
                            {
                                <a href="javascript:history.back()" class="btn btn-success" style="margin-top:12px;float:right;"><i class="fa fa-arrow-left"></i> Back</a>
                            }
                        </div>
                    </section>
                        }

                    }
                    @*<div class="col-md-6"><h3 style="color:white;">Admininstrative View</h3></div>
                    <div class="col-md-6">
                        @if (!String.IsNullOrWhiteSpace(pageData.ContentTitleDesc))
                        {
                            <h3 class="content-desc" style="float:right;color:#245c6f !important;">
                                @pageData.ContentTitleDesc
                            </h3>
                        }
                    </div>*@
                    @RenderBody()
                </section>
                <!-- side content -->
                <aside class="aside-md bg-black hide" id="sidebar">
                    <section class="vbox animated fadeInRight">
                        <section class="scrollable">
                            <div class="wrapper"><strong>Live feed</strong></div>
                            <ul class="list-group no-bg no-borders auto">
                                <li class="list-group-item">
                                    <span class="fa-stack pull-left m-r-sm">
                                        <i class="fa fa-circle fa-stack-2x text-success"></i>
                                        <i class="fa fa-reply fa-stack-1x text-white"></i>
                                    </span>
                                    <span class="clear">
                                        <a href="#">Goody@gmail.com</a> sent your email
                                        <small class="icon-muted">13 minutes ago</small>
                                    </span>
                                </li>
                                <li class="list-group-item">
                                    <span class="fa-stack pull-left m-r-sm">
                                        <i class="fa fa-circle fa-stack-2x text-danger"></i>
                                        <i class="fa fa-file-o fa-stack-1x text-white"></i>
                                    </span>
                                    <span class="clear">
                                        <a href="#">Mide@live.com</a> invite you to join a meeting
                                        <small class="icon-muted">20 minutes ago</small>
                                    </span>
                                </li>
                                <li class="list-group-item">
                                    <span class="fa-stack pull-left m-r-sm">
                                        <i class="fa fa-circle fa-stack-2x text-info"></i>
                                        <i class="fa fa-map-marker fa-stack-1x text-white"></i>
                                    </span>
                                    <span class="clear">
                                        <a href="#">Geoge@yahoo.com</a> is online
                                        <small class="icon-muted">1 hour ago</small>
                                    </span>
                                </li>
                                <li class="list-group-item">
                                    <span class="fa-stack pull-left m-r-sm">
                                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                        <i class="fa fa-info fa-stack-1x text-white"></i>
                                    </span>
                                    <span class="clear">
                                        <a href="#"><strong>Admin</strong></a> post a info
                                        <small class="icon-muted">1 day ago</small>
                                    </span>
                                </li>
                            </ul>
                            <div class="wrapper"><strong>Friends</strong></div>
                            <ul class="list-group no-bg no-borders auto">
                                <li class="list-group-item">
                                    <div class="media">
                                        <span class="pull-left thumb-sm avatar">
                                            <img src="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/_content/scale/images/a3.png" alt="John said" class="img-circle">
                                            <i class="on b-black bottom"></i>
                                        </span>
                                        <div class="media-body">
                                            <div><a href="#">Chris Fox</a></div>
                                            <small class="text-muted">about 2 minutes ago</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="media">
                                        <span class="pull-left thumb-sm avatar">
                                            <img src="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/_content/scale/images/a2.png" alt="John said">
                                            <i class="on b-black bottom"></i>
                                        </span>
                                        <div class="media-body">
                                            <div><a href="#">Amanda Conlan</a></div>
                                            <small class="text-muted">about 2 hours ago</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="media">
                                        <span class="pull-left thumb-sm avatar">
                                            <img src="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/_content/scale/images/a1.png" alt="John said">
                                            <i class="busy b-black bottom"></i>
                                        </span>
                                        <div class="media-body">
                                            <div><a href="#">Dan Doorack</a></div>
                                            <small class="text-muted">3 days ago</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="media">
                                        <span class="pull-left thumb-sm avatar">
                                            <img src="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/_content/scale/images/a0.png" alt="John said">
                                            <i class="away b-black bottom"></i>
                                        </span>
                                        <div class="media-body">
                                            <div><a href="#">Lauren Taylor</a></div>
                                            <small class="text-muted">about 2 minutes ago</small>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </section>
                    </section>
                </aside>
                <!-- / side content -->
            </section>
            <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
        </section>
    </section>
    @Scripts.Render("~/bundles/scale/js")
    @Scripts.Render("~/bundles/company/js")
    @RenderSection("scripts", required: false)
    @{
        var notification = (NotificationModel)TempData[BaseController.NotificationKey];
        if (notification != null)
        {
            TempData[BaseController.NotificationKey] = null;

            <script type="text/javascript">
                console.log('notification time!');
                @switch (notification.Type)
                {
                    case NoteType.Error:
                        @:toastr.error('@notification.Message.ForNotification()', '@notification.Title.ForNotification()');
                        //@:addError('@notification.Message.ForNotification()', '@notification.Title.ForNotification()');
                                                                                break;
                    case NoteType.Info:
                        @:toastr.info('@notification.Message.ForNotification()', '@notification.Title.ForNotification()');
                       // @:addInfo('@notification.Message.ForNotification()', '@notification.Title.ForNotification()');
                                                                                break;
                    case NoteType.Success:
                        @:toastr.success('@notification.Message.ForNotification()', '@notification.Title.ForNotification()');
                        //@:addSuccess('@notification.Message.ForNotification()', '@notification.Title.ForNotification()');
                                                                                break;
                    case NoteType.Note:
                        @:toastr.warning('@notification.Message.ForNotification()', '@notification.Title.ForNotification()');
                       // @:addNotice('@notification.Message.ForNotification()', '@notification.Title.ForNotification()');
                                                                                break;
               
                }
            </script>
        }
    }
</body>
</html>

@helper Breadcrumb(PageDataModel pageData)
{
    var breadcrumb = new List<BreadcrumbItem>
    {
        new BreadcrumbItem("Dashboard", "/Company", "fa-home")
    };

    if (pageData != null && pageData.Breadcrumb != null)
    {
        breadcrumb.AddRange(pageData.Breadcrumb);
    }
    <ul class="breadcrumb">
        @{
            var count = breadcrumb.Count();
            foreach (var item in breadcrumb)
            {
                <li @if (count == 1) { <text> class="active" </text>  }>
                    @if (!String.IsNullOrWhiteSpace(item.Link))
                    {
                        <a href="@item.Link">
                            @if (!String.IsNullOrWhiteSpace(item.Icon))
                            {
                                <i class="@item.Icon.Split('-')[0] @item.Icon"></i>
                            }
                            @item.Name
                        </a>
                    }
                    else
                    {
                        if (!String.IsNullOrWhiteSpace(item.Icon))
                        {
                            <i class="@item.Icon.Split('-')[0] @item.Icon"></i>
                        }
                        @:@item.Name
                    }
                </li>
                    count--;
            }
        }
    </ul>
}
<script>
    var s = window.location.href;
    $('a.pull-right').each(function () {
      
        var d = $(this).attr('href').split('/');
        var b = d[d.length-1];
        if (b != null) {
            if (s.toLowerCase().indexOf(b.toLowerCase()) != -1) {
                $(this).parent().addClass('button-active');
                $(this).parent().removeClass('button-deactive');
            }
            else {
                if (b.toLowerCase() != "logout") {
                    $(this).parent().removeClass('button-active');
                    $(this).parent().addClass('button-deactive');
                }
                }           
            }
        
    })

    $("#logout").click(function () {
        window.close();
    })
	 $(document).ready(function () {
        $(".col-md-1").hide();
    })
</script>